body{
    background-color: black;
    margin: 3em;
    padding: 0 auto;
}

.mainContainer{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 10px solid white;
    display: grid;s
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'mainTitle mainTitle'
        'tabs tabs'
}

#mainTitle{
    grid-area: mainTitle;
    text-align:center; 
    font-size:75px;
    color: white;
    grid-area: 1 / 1 / 2 / 3;
}

#tabs{
    grid-area: tabs;
    text-align:center; 
    font-size:25px;
    color:white;
    grid-area: 2 / 1 / 3 / 3;
}